<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Factorial</title>        
    </head>
    <body>
        {% if error %}
        Revise el parámetro
        {% else %}
        Resultado: {{ resul }}
        {%endif%}
    </body>
</html>
